*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    background-color: rgb(246, 243, 243);
}

header {
    margin-top: 20px;
}

/* Logo & Navbar */

.logo-flex-container a {
    text-decoration: none;
    color: black;
}

.logo-flex-container a:hover {
    text-decoration: underline; 
}

.logo-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    margin-left: 30px;
}

.logo-flex-container div:last-child {
    position: relative;
    top: 14.9px;
}

.logo-flex-container p {
    font-family: uppercut-angle,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}

.logo-flex-container img {
    width: 50px;
    height: 50px;
}

.navbar-container {
    margin-right: 100px;
    margin-top: -40px;
}

.navbar-container-2 {
    visibility: hidden;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 30px;
    list-style: none;
}

.navbar-container a {
    text-decoration: none;
    color: black;
    font-family: 'Space Mono', sans-serif;    
    font-weight: 400;
    font-size: 15px;
}

.navbar-container a:hover {
    font-weight: 700;
    text-decoration: underline;    
}

/* Index */

.Chalottenlund{
    position: absolute;
    width: 300px;
    height: 19px;
    left: 25px;
    top: 15%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 30%;
}

.Charkaden{
    position: absolute;
    width:288px;
    height: 77px;
    left: 25px;
    top: 20%;
    font-style: normal;
    font-weight: 900;
    font-size: 65px;
    line-height: 39px;
    color: rgb(0, 0, 0);
}

.Uppsummering{
    position: absolute;
    width: 500px;
    height: 64px;
    left: 25px;
    top: 30%;
}

.footer {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 1em;
    display: flex;
    justify-content: space-between;

}

.footer-title span {
    color: rgb(0, 0, 0);
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url( )no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: top 100rem;
    margin-bottom: -190px;
    margin-left: -75px;
}

.main h2 {
    color: rgb(20, 20, 20);
    font-size: 1.4em;
    font-weight: 600;
}

.main h3 {
    color: black;
    font-size: 2em;
    font-weight:700;
    letter-spacing: 1px;
    margin-top: -10px;
    margin-bottom: 30px;
}

.main-btn {
    color: rgb(255, 255, 255);
    background-color:#000000;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 300;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-top: 25px;
    margin-left: 95px;
    transition: 0.7s ease;
    text-align: center;
}

.main-btn:hover {
    background-color: rgb(178, 178, 186);
    transform: scale(1.1);
}





    .swiper {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 650px;
      height: 450px;
      display: flex;
      justify-content: center;
      margin-top: -150px;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
    }

    .content .bilderrocketleague{
width: 500px;
display: flex;
justify-content: flex-end;
 }

 .content .bilderrocketleague img{
    width: 320px;
    max-height: max-content;
    margin-top: 2590ex;
 }

 .swiper-slide img{
    display: flex;
    position: fixed;
    bottom: 0;
    max-height: 100%;
 
 }


 .swiper-3d .swiper-slide-shadow-left,
 .swiper-3d .swiper-slide-shadow-right{
    background-image: none;
 }
 .bilderrocketleague{
    display: flex;
    position: relative;
    margin-top: 0%;
  
}



@media screen and (max-width:600px){
.Chalottenlund{
    width: 100vw;
}
.Uppsummering{
    width: 100vw;
}
.main-btn{
    width: 248px;

}

.Charkaden{
    width: 100vw;
}

.swiper-slide img{
   
    width: 100vw;
}

.footer{
    position: right center;
    width: 100vw;
}

body{
  
    position: right center;
    display: block;
    width: 100vw;
}
}


@media screen and (max-width:1032px){
    .Chalottenlund{
        width: 100vw;
    }
    .Uppsummering{
        width: 100vw;
    }
    .main-btn{
        width: 248px;
    }
    
    .Charkaden{
        width: 100vw;
    }
    
    .swiper-slide img{
       
        width: 100vw;
    }
    
    .footer{
        position: right center;
        width: 100vw;
    }
    
    body{
      
        position: right center;
        display: block;
        width: 100vw;
    }
}

    @media screen and (max-width:300px){

        .Chalottenlund{
            width: 100vw;
        }
        .Uppsummering{
            width: 100vw;
        }
        .main-btn{
            width: 248px;
        
        }
        
        .Charkaden{
            width: 100vw;
        }
        
        .swiper-slide img{
           
            width: 100vw;
        }
        
        .footer{
            position: right center;
            width: 100vw;
        }
        
        body{
          
            position: right center;
            display: block;
            width: 100vw;
        }
}




@media screen and (max-width: 1040px) {

    .navbar-container {
        display: none;
    }

    .main {
        margin-top: -150px;
    }

    .navbar-container-2 {
        margin-top: -11px;
        display: flex;
        align-items: center;
        flex-direction: column;
        visibility: visible;
        gap: 34px;
        text-align: center;
    }

    .navbar-container-2 a {
        text-decoration: none;
        color: black;
        font-family: 'Space Mono', sans-serif;    
        font-weight: 400;
        font-size: 15px;
    }

    .navbar-container-2 div:first-child {
        position: relative;
        right: -20px;
    }

    .navbar-container-2 div:last-child {
        position: relative;
        right: -3px;
    }
    
    .navbar-container-2 a:hover {
        font-weight: 700;
        text-decoration: underline;    
    }
}

@media screen and (max-width: 850px) {

    .logo-flex-container {
        justify-content: center;
        margin-left: 0;
        margin-bottom: 37px;
    }
}

@media screen and (max-width: 470px) {
    .navbar-container-2 a {
        font-size: 13px;
    }

    .logo-flex-container {
        gap: 10px;
    }
}

@media screen and (max-width: 920px) {
    .Chalottenlund {
        top: 33%;
    }

    .Charkaden {
        top: 39%;
    }

    .Uppsummering {
        top: 49%;
    }

    .main {
        margin-top: 0px;
    }
}

@media screen and (max-width: 800px) {

    .navbar-container-2 {
        margin-bottom: 50px;
    }

    .Chalottenlund {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: static;
        margin-bottom: 200px;
    }

    .Charkaden {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: static;
        margin-top: -160px;
    }

    .Uppsummering {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 10px;
        position: static;
    }

    .main {
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin-left: -51px;
        margin-top: -210px;
    }
}

@media screen and (max-width: 690px) {
    .main {
        margin-left: 120px;
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .main {
        margin-left: 102px;
        width: 50%;
    }
}

@media screen and (max-width: 550px) {
    .main {
        margin-left: 92px;
        width: 50%;
        margin-top: -160px;
    }
}


@media screen and (max-width: 500px) {
    .main {
        margin-left: 77px;
        width: 50%;
        margin-top: -220px;
    }

    .main-btn {
        font-size: 0.9rem;
    }

    .Uppsummering {
        width: 100%;
        font-size: 13px;
    }
}

@media screen and (max-width: 450px) {
    .main {
        margin-left: 69px;
        width: 50%;
        margin-top: -200px;
    }
}

@media screen and (max-width: 400px) {
    .main {
        margin-left: 55px;
        width: 50%;
        margin-top: -200px;
    }
}

@media screen and (max-width: 360px) {
    .main {
        margin-left: 42px;
        width: 50%;
        margin-top: -200px;
    }
}

@media screen and (max-width: 320px) {
    .main {
        margin-left: 34px;
        width: 50%;
        margin-top: -200px;
    }
}