body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    margin-top: 20px;
}

/* Logo & Navbar */

.logo-flex-container a {
    text-decoration: none;
    color: black;
}

.logo-flex-container a:hover {
    text-decoration: underline; 
}

.logo-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    margin-left: 30px;
}

.logo-flex-container p {
    font-family: uppercut-angle,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}

.logo-flex-container img {
    width: 50px;
    height: 50px;
}

.navbar-container {
    margin-right: 100px;
    margin-top: -56px;
}

.navbar-container-2 {
    display: none;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 30px;
    list-style: none;
}

.navbar-container a {
    text-decoration: none;
    color: black;
    font-family: 'Space Mono', sans-serif;    
    font-weight: 400;
    font-size: 15px;
}

.navbar-container a:hover {
    font-weight: 700;
    text-decoration: underline;    
}

/* Seksjon Bokser og Tekst */

.box {
    margin-top: 50px;
    width: 110%;
    height: 350px;
    background-image: url('/pictures/gamingbakgrunn.jpg');
    background-position-y: -100px;
    background-size: cover;
    background-repeat: no-repeat;
}

.bakgrunn-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    position: relative;
    top: -270px;
    gap: -20px;
}

.bakgrunn-flex-container > div > p {
    font-family: ligurino,sans-serif;
    font-weight: 400;
    font-style: normal;
}

#Litt-om {
    font-size: 20px;
}

#Arrangementet {
    font-size: 26px;
}

/* Tekst Informasjon */

.info-seksjon {
    margin-top: -65px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flex-container > div {
    width: 400px;
    text-align: center;
}

.flex-container > div > p {
    font-family: 'Nunito';
    font-size: 15px;
}

/* Spill seksjon */

.flex-container-overskrift-spill {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 17.3px;
}

.linje {
    width: 400px;
    height: 2px;
    background-color: black;
}

.arkadedagene {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
}

.arkadedagene > div {
    width: 780px;
    text-align: center;
}

.spill-rad1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 50px;
}

.spill-rad1 img {
    width: 150px;
    height: 150px;
    border-radius: 5%;
    border: 0.5px solid black;
}

.FIFA, .MarioKart, .RocketLeague, .SuperSmash {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.FIFA p, .MarioKart p, .RocketLeague p, .SuperSmash p {
    font-size: 15px;
    width: 270px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

.spillturnering {
    margin-top: 45px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.flex-container-tekst-spill {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Nunito';
    font-size: 14px;
}

.flex-container-tekst-spill > div {
    width: 450px;
}

.spillturnering img {
    width: 560px;
    height: 350px;
}

#Overskrift-Turnering {
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}

.flex-container-tekstbokser-spillturnering {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#p책meldings-knapp {
    border: 0.3px solid black;
    width: 200px;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    border-radius: 5% 5% 5% 5%;
    background-color: rgb(61, 250, 177);
    text-align: center;
}

#p책meldings-knapp a {
    text-decoration: none;
    color: black;
}

#p책meldings-knapp:hover {
    text-decoration: underline;
    cursor: pointer;
    font-weight: 600;
}

/* NB! NB! NY SIDE - STREAMING SIDE */

.kommersnart {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tekst > div {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}

.nedtelling {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    gap: 40px;
    text-align: center;
}

.dag, .time, .minutt, .sekund {
    font-size: 1.9rem ;
}

#rocketleague {
    width: 650px;
    height: 350px;
}

#bilde-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}


/* Responsivt design Navbar + Event side */

@media screen and (max-width: 1040px) {

    .navbar-container {
        display: none;
    }

    .navbar-container-2 div:last-child {
        margin-left: -35px;
    }

    .navbar-container-2 {
        margin-top: -30px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .navbar-container-2 a {
        text-decoration: none;
        color: black;
        font-family: 'Space Mono', sans-serif;    
        font-weight: 400;
        font-size: 15px;
    }
    
    .navbar-container-2 a:hover {
        font-weight: 700;
        text-decoration: underline;    
    }
}


@media screen and (max-width: 850px) {

    .arkadedagene > div {
        width: 600px;
    }

    .flex-container > div {
        width: 300px;
    }

    .flex-container > div > p {
        font-size: 14px;
    }

    .logo-flex-container {
        justify-content: center;
        margin-left: 0;
        margin-bottom: 37px;
    }

    .flex-container-tekst-spill div:first-child {
        text-align: center;
    }

    .flex-container-tekstbokser-spillturnering {
        text-align: center;
    }

    .spillturnering {
        flex-direction: column;
        align-items: center;
    }

    .spillturnering img {
        width: 400px;
        height: 250px;
    }

    .button-container {
        margin-top: 30px;
        display: flex;
        justify-content: center ;
    }
}

@media screen and (max-width: 630px) {

    .arkadedagene > div {
        width: 600px;
    }

    .flex-container > div {
        width: 230px;
    }

    .flex-container > div > p {
        font-size: 13px;
    }

    .arkadedagene > div {
        width: 400px;
        font-size: 13.5px;
    }

    .FIFA p, .MarioKart p, .RocketLeague p, .SuperSmash p {
        font-size: 12px;
        width: 240px;
    }

}

@media screen and (max-width: 630px) {

    .arkadedagene > div {
        width: 600px;
    }

    .flex-container > div {
        width: 230px;
    }

    .flex-container > div > p {
        font-size: 13px;
    }

    .arkadedagene > div {
        width: 400px;
        font-size: 13.5px;
    }

    .FIFA p, .MarioKart p, .RocketLeague p, .SuperSmash p {
        font-size: 12px;
        width: 240px;
    }

}

@media screen and (max-width: 586px) {
    .box {
        background-position-y: center;
    }
}

@media screen and (max-width: 470px) {
    .box {
        background-position-y: top;
    }

    .spillturnering img {
        width: 300px;
        height: 190px;
    }

    .flex-container-tekstbokser-spillturnering p {
        font-size: 13px;
    }

    #Overskrift-Turnering {
        font-size: 14px;
    }

    .flex-container-overskrift-spill {
        font-size: 15px;
    }

    .flex-container-tekst-spill > div {
        width: 300px;
    }

    #p책meldings-knapp {
        width: 150px;
        font-size: 13px;
    }

    .arkadedagene > div {
        width: 330px;
        font-size: 12px;
    }

    .navbar-container-2 a {
        font-size: 13px;
    }

    .logo-flex-container {
        gap: 10px;
    }
}

/* Streaming Side Responsivt Design */

@media screen and (max-width: 698px) {
    .tekst > div {
        width: 400px;
        text-align: center;
        font-weight: bold;
        font-size: larger;
    }

    #rocketleague {
        width: 500px;
        height: 280px;
    }
}

@media screen and (max-width: 698px) {
    .tekst > div {
        width: 400px;
        text-align: center;
        font-weight: bold;
        font-size: larger;
    }

    #rocketleague {
        width: 500px;
        height: 280px;
    }
}

@media screen and (max-width: 505px) {
    #rocketleague {
        width: 390px;
        height: 190px;
    }
}
